@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background-color: #ddddda;
  font-family: 'Open Sans', sans-serif;
}

.uk-card-default {
  background-color: #fcfcfb;
}

.uk-tab > .uk-active > a {
  border-color: #55ac98;
}

.uk-button-primary {
  background-color: #55ac98;
}

.uk-button-primary:hover {
  background-color: #429683;
}

.uk-button-secondary {
  background-color: #5c5c5a;
}

.uk-button-secondary:hover {
  background-color: #484843;
}

.uk-button-danger {
  background-color: #ab5454;
}

.uk-button-danger:hover {
  background-color: #964242;
}